.wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #f5f6fa;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card {
    list-style: none;
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .card img {
    padding-left: 200px;
    width: 100%;
    max-width: 400px;
    border-radius: 14px;
    object-fit: cover;
    align-self: center;
  }
  
  .card li {
    font-size: 16px;
    color: #333;
  }
  
  .card li span {
    font-weight: 600;
  }
  
  .backButton {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #6c8cff, #5c7bff);
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .backButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 22px rgba(92, 123, 255, 0.35);
  }
  
  
  /* Адаптив */
  @media (max-width: 600px) {
    .card {
      padding: 15px;
    }
  
    .card img {
      max-width: 100%;
    }
  }
  