.wrapper {
    max-width: 400px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
  }
  
  .title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .status {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item {
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #f9f9ff;
  }
  
  .name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .number {
    font-size: 14px;
    color: #555;
  }
  